.node-red/lib/flows/prova
[{"id":"2277c7f9.dd8838","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":113,"y":307,"z":"ea6e303.f1591d","wires":[["63e7987c.9c1868"]]},{"id":"6cf2a397.930d5c","type":"inject","name":"","topic":"","payload":"Vai","payloadType":"string","repeat":"","crontab":"","once":false,"x":102,"y":245,"z":"ea6e303.f1591d","wires":[["57779bd.fa88864"]]},{"id":"57779bd.fa88864","type":"function","name":"","func":"msg.url = \"http://m2mtilab.dtdns.net/etsi/almanac/applications/smartbench/containers/bench2/contentInstances/latest\"\nmsg.headers = {\n    \"From\" : \"http://m2mtilab.dtdns.net/etsi/almanac/applications/smartbench\",\n    \"Accept\" : \"application/xml\" };\nreturn msg;","outputs":1,"valid":true,"x":252,"y":244,"z":"ea6e303.f1591d","wires":[["2277c7f9.dd8838"]]},{"id":"63e7987c.9c1868","type":"xml","name":"","attr":"$","chr":"_","x":292,"y":307,"z":"ea6e303.f1591d","wires":[["40f060f4.bf0fa"]]},{"id":"40f060f4.bf0fa","type":"function","name":"Parse Body","func":"msg.payload = msg.payload.contentInstance.content[0].textContent[0];\nreturn msg;","outputs":1,"valid":true,"x":113,"y":368,"z":"ea6e303.f1591d","wires":[["be0816bc.41f7e8"]]},{"id":"9e423446.61bdc8","type":"file","name":"Log","filename":"Test.log","appendNewline":true,"overwriteFile":"true","x":480,"y":455,"z":"ea6e303.f1591d","wires":[]},{"id":"be0816bc.41f7e8","type":"json","name":"","x":293,"y":368,"z":"ea6e303.f1591d","wires":[["dfc01749.203fe8"]]},{"id":"dfc01749.203fe8","type":"function","name":"Parse Content","func":"msg.payload = msg.payload.transits\nnode.log(\"transits: \", context)\ncontext.transits = context.transits || 0;\nif (context.transits < msg.payload)\n    {\n    context.transits = msg.payload\n    return msg;\n    }","outputs":1,"valid":true,"x":120,"y":459,"z":"ea6e303.f1591d","wires":[["9e423446.61bdc8"]]}]